{extend name='main'/}
{block name="head"}
<link rel="stylesheet" type="text/css" href="/adminp/css/goods.css"/>
<style>
    #left a:nth-child(5){
        background-color: #1f2125;
    }
    .operation{
        width: 30% !important;
    }
</style>
<script>
    function del(obj,id,name) {
        if(confirm("确认删除类名为"+name+"的数据吗")){
            $.post('/admin/nav/delete/'+id,function (data) {
                if(data){
                   $(obj).parents('.row').remove();
                }
            })
        }
    }
</script>
{/block}
{block name="right"}
    <p>
        <a href="">导航管理</a>
        <span>
            <a href="/admin/nav/create" class="icon-zengjia add">新增</a>
        </span>
    </p>
    <div id="first_row" class="row">
        <div class="sort">排序</div>
        <div class="name">商品分类名</div>
        <div class="operation">操作</div>
    </div>
    <div class="box">
        <div id="box_top">
            {foreach $data as $d}
            <div class="row">
                <div class="sort">
                    <div>
                        <input type="checkbox" name="id" class="check" value="{$d->id}" />
                        <span>{$d->sort}</span>
                    </div>
                </div>
                <div class="name">{$d->name}</div>
                <div class="operation">
                    <a href="/admin/nav/edit?id={$d->id}">修改</a>
                    <a href="javascript:;" onclick="del(this,'{$d->id}','{$d->name}')">删除</a>
                    <a href="">所属商品</a>
                    <a href="/">查看导航</a>
                </div>
            </div>
            {/foreach}
        </div>
        <div class="box_foot">
            <div>
                <input type="checkbox" name="" id="check_all"/>
                <span>全选</span>
                <a href="javascript:;" onclick="delall('/admin/nav/delall')">删除选中</a>
                <a href="/admin/nav/create" class="icon-zengjia">新增</a>
            </div>
            <div>

            </div>
        </div>
    </div>
{/block}