{extend name='main'/}
{block name="head"}

<style>
    #left a:nth-child(2){
        background-color: #1f2125;
    }
     .main{
         width: 50%;
         margin: auto;
         margin-top: 10%;
         background-color: #efeeee;
         padding: 2rem;
         border-radius: 1rem;
     }
    h3{
        text-align: center;
        margin-bottom: 1rem;
    }
</style>
{/block}
{block name="right"}
{if(isset($err))}
<div class="alert alert-warning" role="alert">
    {$err}
</div>
{/if}
<div class="main">
    <h3><?=isset($data['name'])?'修改':'添加'?></h3>
    <form style="text-align: center" method="post" action="/admin/goods_type/save">
        {if isset($data['id'])}
        <input name="id" value="{$data['id']}" hidden>
        {/if}
        <div class="form-group row">
            <label  class="col-sm-3 col-form-label">分类名称</label>
            <div class="col-sm-8">
                <input type="text" name="name" value="<?=isset($data['name'])?$data['name']:''?>" class="form-control" >
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-3 col-form-label">排序</label>
            <div class="col-sm-8">
                <input type="text" name="sort" value="<?=isset($data['sort'])?$data['sort']:''?>" class="form-control" >
            </div>
        </div>
        <button type="submit" class="btn btn-dark col-5">保存</button>
    </form>
</div>
{/block}