{extend name='main'/}
{block name="head"}
<link rel="stylesheet" type="text/css" href="/adminp/css/order.css"/>
<style>
    #left a:nth-child(1){
        background-color: #1f2125;
    }
</style>
{/block}
{block name="right"}
    <p>
        <a href="">所有订单</a>
        <a href="">未付款</a>
        <a href="">未发货</a>
        <a href="">已发货</a>
        <a href="">已签收</a>
        <a href="">已评价</a>
    </p>
    <div id="first_row" class="row">
        <div class="goods">商品</div>
        <div class="price">价格</div>
        <div class="num">数量</div>
        <div class="total">总金额</div>
        <div class="user">买家</div>
        <div class="state">状态</div>
        <div class="operation">操作</div>
    </div>
    <div class="box">
        {foreach $data as $v}
        <div class="order">
            <p>
                <span>订单号：{$v->id}</span>
                <span>{$v->create_time}</span>
                <a href="">订单详情</a>
            </p>
            <div class="row">
                <div class="goods">
                    <a href=""><img src="{$v->goods->img}" alt="" /></a>
                    <div>
                        <p>{$v->goods->name}</p>
                        <p><span>{$v->goods->style_name->style_name}：{$v->goods->style}</span><span>{$v->goods->style_name->size_name}：{$v->goods->size}</span></p>
                    </div>
                </div>
                <div class="price">{$v->price}元</div>
                <div class="num">{$v->num}</div>
                <div class="total">{$v->price*$v->num}元</div>
                <div class="user">{$v->user}</div>
                <div class="state">
                    <p>未发货</p>
                    <a href="">查看买家地址</a>
                </div>
                <div class="operation">
                    <a href="">发货</a>
                </div>
            </div>
        </div>
        {/foreach}
        <div class="box_foot">
            <div>
            </div>
            <div>
                {$data|raw}
            </div>
        </div>
    </div>
{/block}